body{
    background-image: url("../Assests/pictures/background.png");
}
/* .header{
    max-height: 100%;

} */
#nav-bar-container{
    background-color: darkseagreen;
    
}

#nav-bar-link{
    color: black;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-banner {
    /* background-image: url('../Assests/pictures/background.png'); */
    /* height: 750px; */
    min-width: 100%;
}

#home-banner-img {
    min-width: 100%;
}

#home-banner-text {
    /* max-height: 500px; */
    background-color:#bc8fbc91;
    margin-top: -93px;
} 

/* #home-banner-text-column {
    height: 750px;
} */

#lives-saved-banner {
    background-color: darkseagreen;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -16px;
}

