body{
    background-image: url("../Assests/pictures/background.png");
}

header{


}
#nav-bar-container{
    background-color: darkseagreen;
    
}

#nav-bar-link{
    color: black;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-banner {
    position: relative;
    text-align: center;
}

.img-fluid {
    width: 90%;
}

#home-banner-text {
    /* max-height: 500px; */
    background-color:#bc8fbc91;
    position: absolute;
    top: 87.8%;
    left: 5.9%;
    width: 88.2%;
    /* margin-top: -93px; */
} 

#home-banner-text-column {
    /* margin-left: 100px; */
}

#lives-saved-banner {
    background-color: darkseagreen;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

