.body{
    background-image: url("../Assests/pictures/background.jpeg");
}
/* .header{
    max-height: 100%;

} */
#nav-bar-container{
    background-color: darkseagreen;
    
}

#nav-bar-link{
    color: black;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home-banner {
    background-image: url('../Assests/pictures/background.jpeg');
    /* height: 750px; */
    min-width: 100%;
}

#home-banner-img {
    min-width: 100%;
}

#home-banner-text {
    /* max-height: 500px; */
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0px;
} 

/* #home-banner-text-column {
    height: 750px;
} */

#lives-saved-banner {
    background-color: darkseagreen;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

